<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>news</title>
</head>
<body>
    <h1><%= title %></h1>
    <h3>show用户名： <%= userName %></h3>
    <h3>中文的用户名： <%= zhInfo %></h3>
    <div>
        <p>用户名：<%= resInfo.name %></p>
        <p>年  龄：<%= resInfo.age %></p>
    </div>


    <div>
        <h3>获取session:</h3>
        <p>用户名：<%= getSession.name %></p>
        <p>年  龄：<%= getSession.age %></p>
    </div>

</body>
</html>