<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="socketiobox">
        <p><input type="text" id="msg"  placeholder="请输入内容"/></p>

        <p><button id="send">发送</button></p>
    </div>

    <script src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:8000');
        const doc = ( id ) => document.getElementById(id);



        const msg = doc('msg');
        const send = doc('send');


        // 聊天室功能--聊天

        send.onclick = () => {
            // 获取文本框值
            const val = msg.value;
            console.log('val:', val)
            // 获取的值发给服务器，通过广播的方式发送
            socket.emit('message', val); // 客户端给服务器发送数据

        }

        // 接受服务器返回的数据
        // 进来就要监听，而不是去触发的时候去监听
        socket.on('message', (data) => {
            console.log("我进来了：", data)
        })





    </script>
</body>
</html>